<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ABM</h1>
    <p>/products/create</p>
    <br>
    <p>/products/edit/:id</p>
    <br>
    <p>/products/delete/:id</p>
  </body>
</html>
